/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Generics*/
body {
  padding-top: 90px;
  font-family: sans-serif;
}

/*Utils*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}

/*Header*/
header {
  height: 60px;
  background-color: rgb(14, 135, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
  display: inline-block;
}
ul {
  list-style-type: none;
  display: flex;
}

/*Main*/
section {
  padding: 50px;
  height: 600px;
}
.white {
  background-color: white;
}
.violet {
  background-color: #9999ff;
}
